<h1>Hallo ich bin ein Pen, Paper & Digital Programm</h1>

<form>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="benutzername">Benutzername</span>
    </div>
    <input type="text" class="form-control" aria-label="Benutzername" aria-describedby="benutzername">
  </div>

  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="passwort">Passwort</span>
    </div>
    <input type="password" class="form-control" aria-label="Passwort" aria-describedby="passwort">
  </div>

  <button type="button" class="btn btn-primary">Login</button>
</form>
